@import url(./rainbow.scss);

@tailwind base;
@tailwind components;
@tailwind utilities;

.page-enter-active,
.page-leave-active {
  transition: opacity 300ms;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}

@font-face {
  font-family: KelsonSans;
  src: url('assets/fonts/kelson-sans-bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: KelsonSans;
  src: url('assets/fonts/kelson-sans-regular.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

.font-esn {
  font-family: KelsonSans, "Kelson Sans", sans-serif;
}

@layer utilities {
  .black-to-white {
    filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(4223%) hue-rotate(111deg) brightness(116%) contrast(100%);
  }

  .black-to-primary {
    filter: brightness(0) saturate(100%) invert(12%) sepia(93%) saturate(2454%) hue-rotate(234deg) brightness(105%) contrast(91%);
  }

  .black-to-secondary {
    filter: brightness(0) saturate(100%) invert(21%) sepia(86%) saturate(7457%) hue-rotate(315deg) brightness(96%) contrast(107%);
  }
}


.theme-default {
  --color-primary: 46, 49, 146;
}

.theme-vut {
  --color-primary: 228, 0, 43;
}

.theme-muni {
  --color-primary: 0, 0, 220;
}

.theme-mendelu {
  --color-primary: 121, 190, 21;
}

.bg-primary,
.dark\:bg-primary {
  background-color: rgb(var(--color-primary));

  background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%23ffffff' fill-opacity='0.0275' fill-rule='evenodd'/%3E%3C/svg%3E");
}
